body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    color: #ddd;
    padding: 50px;
    height: 100vh;
}
h1{
    color: #eef;
    text-align: center;
}